.payments .ant-tabs-nav {
    width: 220px;
}
.payments .ant-tabs-nav-list {
    background-color: #F9FBFF;
    border-radius: 5px;
}
.payments .ant-tabs-tab {
    padding: 0 12px !important;
    margin: 0 !important;
    border-left: 4px solid transparent;
}
.payments .ant-tabs-tab .ant-tabs-tab-btn {
    padding: 16px 0;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #d1d1d1;
}
.payments .ant-tabs-tab:nth-child(6) .ant-tabs-tab-btn {
    border-bottom: none !important;
}
.payments .ant-tabs-tab .ant-tabs-tab-btn div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #000;
}
.payments .ant-tabs-tab .ant-tabs-tab-btn div svg {
    margin-right: 8px;
    width: 25px;
}
.payments .ant-tabs-tab .ant-tabs-tab-btn div svg path {
    stroke: #000;
}
.payments .ant-tabs-tab.ant-tabs-tab-active {
    background: #006ad0;
    border-left: 4px solid #1a1a6c;
}
.payments .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    border-color: #006ad0;
}
.payments .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn div {
    color: #fff;
}
.payments .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn div svg path {
    stroke: #fff;
}
.payments .ant-tabs-tab.ant-tabs-tab-disabled {
    padding: 0 2px !important;
    margin: 0 12px !important;
    cursor: default !important;
}
.payments .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
    display: none;
}
.payments .ant-tabs-content-holder {
    border-left: none;
    margin: 0;
}
.payments .ant-avatar {
    background: #f9fbff;
    margin-right: 8px;
}
.payments .ant-avatar svg {
    fill: #000
}
.shopping-cart .ant-table-content .ant-card .ant-card-body {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.ant-dropdown-menu {
    width: max-content;
}

.padding-right-0 {
    padding-right: 0 !important;
}
.padding-left-0 {
    padding-left: 0 !important;
}

@media (width <= 994px) {
    .padding-0 {
        padding: 0 0 1.5rem !important;
    }
    .payments .ant-tabs-nav {
        width: 100%;
    }
    .payments .ant-tabs-tab {
        padding: 0 12px !important;
        margin: 0 !important;
        border-left: 4px solid transparent;
        border-right: 1px solid #dfdfdf;
    }
    .payments .ant-tabs-tab.ant-tabs-tab-disabled {
        padding: 0 12px !important;
        margin: 0 !important;
    }
    .payments .ant-tabs-tab .ant-tabs-tab-btn {
        border-bottom: none;
    }
}