.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 15px 50px;
  position: sticky;
  top: 0;
  z-index: 3;
  transition: 0.4s ease all;
}
.header.scrolled {
  background-color: white; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  color: black; 
}
.logo {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}
.navbar-menu {
  width: 44%;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  line-height: normal;
  border: none;
}
.ant-menu-item,
.ant-menu-item span {
  height: inherit;
  line-height: normal;
}
.ant-menu-title-content,
.ant-menu-item-icon svg {
  color: #fff;
  fill: #fff;
  font-size: 13px;
}
.ant-menu-item-selected:after,
.ant-menu-item-active:after {
  border-bottom-color: #fff !important;
}
.ant-menu-title-content {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.navbar-menu .ant-menu-item {
  color: white; 
}
.ant-avatar {
    background: transparent;
}
.right-navbar-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.right-navbar-menu .ant-menu {
  background-color: transparent;
  border: none;
}
.right-navbar-menu .ant-menu-item {
  padding: 0px;
}
.header.scrolled .navbar-menu .ant-menu-item {
  color: black; 
}
.header.scrolled .navbar-menu .ant-menu-item>span {
  color: black; 
  font-weight:600
}

.navbar-menu .ant-menu-item:hover {
  color: #1c1c1c; 
}
/* .header.scrolled img{
  filter: invert(1)
} */
.header.scrolled .custom-icon svg path {
  fill: #000;
}
.header .ant-dropdown {
  min-width: 380px !important;
}
.header .custom-dropdown {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.header .dropdown-close {
  position: absolute;
  right: 10px;
  top: 10px;
}
.header .dropdown-title h3 {
  font-family: Segoe UI;
  font-size: 24px;
  font-weight: 700;
  line-height: 34.58px;
  text-align: left;
  color: #006AD0;
}
.header .dropdown-title p {
  font-family: Segoe UI;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #17183B;
  margin-top: 10px;
  max-width: 33ch;
}
.header .product-code-box {
  margin-top: 20px;
}
.header .custom-input input {
  height: 38px;
  background-color: #F9FBFF;
  border: 1px solid #D8DDE5;
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.62px;
  text-align: left;
  color: #515151;
}
.header .scanner-btn {
  overflow: hidden;
  height: 38px;
  padding-left: 10px;
  padding-right: 10px;
  background: #f9fbff;
}
.header .validate_btn {
  width: 100%;
  background: #006AD0;
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: 700;
  line-height: 18.62px;
  text-align: center;
  min-height: 46px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.header .ant-form-item {
  margin-bottom: 16px;
}
.header .dropdown-close .ant-btn {
  border: none;
  background: transparent;
}
.right-navbar-menu .icon-scrolled svg {
  color: black; 
  fill: #000;
}
img.logo-scrolled {
  opacity: 0;
}
img.logo-scrolled.blue {
  opacity: 1;
}
img.blue {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: 0.4s ease all;
}
.header.scrolled .ant-menu-item-selected:after, .header.scrolled .ant-menu-item-active:after {
  border-bottom-color: #006AD0 !important;
}
.right-navbar-menu  svg {
  width: 18px;
  height: 18px;
}
.mobile-menu-button {
  display: none;
}
.hamburger_box{
  display: none;
}
.mobile_icons{
  display: none;
}

@media (max-width: 1024px) {
  .mobile-menu-button {
    display: block;
  }
  .navbar-menu {
    display: none;
  }
  .right-navbar-menu {
    display: none;
  }
  .logo img {
    width: 150px;
  }
  .navbar-menu {
    display: none !important;
  }
  .custom_drawer span.ant-menu-title-content a {
    color: #000 !important;
    font-weight: 700;
  }
  .custom_drawer .ant-menu-light .ant-menu-item-selected{
    background-color: #006AD0;
  }
  .custom_drawer .ant-menu-item:hover{
    background-color: #006AD0 !important;
  }
  .custom_drawer  .ant-menu-item-selected span.ant-menu-title-content a{
    color: #fff !important;
  }
  .custom_drawer .ant-menu-item:hover span.ant-menu-title-content a{
    color: #fff !important;
    fill: #fff !important;
  }
  .mobile_icons .custom-icon {
    align-items: center;
    justify-content: center;
    border: none !important;
    background-color: transparent;
  }
  .mobile_icons .custom-icon svg{
    /* fill: #000; */
    width: 20px;
    height: 20px;
  }
  .mobile_icons .custom-icon .ant-menu-item:hover {
    background-color: transparent !important;
  }
  .mobile_icons .custom-icon .ant-menu-item-selected{
    background-color: transparent !important;
  }
  .header_left {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
  .hamburger_box {
    display: block;
  }
  .logo{
    width: auto !important;
  }
  .mobile_icons{
    display: block;
  }
}
