.recent-orders {
    width: 33%;
    border: 1px solid #d1d1d1;
    border-radius: 12px;
    overflow: hidden;
}
.recent-orders ul {
    border-bottom: 1px dashed #d1d1d1;
}
label {
    font-size: 12px;
    color: #333;
}
label + p {
    font-size: 16px;
}
.ant-card .ant-card-body {
    padding: 0 !important;
    border-radius: 08px 8px 8px 8px !important;
    overflow: hidden;
}
.primary-bg {
    background: #006AD0;
}